<style>
  .container {
    text-align: center;
  }
  .container strong{
    color: #46A184;
  }
</style>

<div class="container">
  <img src="{{logo_url}}">
  <p class="presentation">Olá, <strong>{{name}}</strong>, seja bem vindo(a) a <strong>Lucrando com Crédito</strong></p>
  <p>Ficamos Felizes que tenha se juntado a nós!</p>
  <p>Aqui estão as suas credenciais para acessar a nossa plataforma:</p>
  <p><strong>E-mail:</strong> {{email}}</p>
  <p><strong>Senha:</strong> {{password}}</p>
</div>
