<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LCC | Lucrando com Crédito</title>
  <style>
    body {
      font-family: Roboto;
    }
  </style>
</head>

<body>
  {{{body}}}
</body>

</html>
