<img src="{{logo_url}}">


<p>Olá, <strong><em>{{name}}</em></strong>,</p>

<p>Seja bem vindo(a) a Lucrando com Crédito!</p>

<p>Ficamos felizes que tenha se juntado a nós!</p>

<p>Clique no botão para acessar a Plataforma.</p>

<a href="{{link}}" style="text-decoration: none; color: #fff;">

  <div style="
  height: 100%;
  max-height: 35px;
  width: min-content;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;

  background-color: #46A184;
  border-radius: 4px;

  color: #fff;
  white-space: nowrap;
  text-align: center;
  ">
    <h3>Acesse aqui</h3>
  </div>
</a>

<p>Assim que entrar na plataforma use o seu e-mail cadastrado, modifique sua senha e adicione sua foto.</p>

<p>*Caso não tenha feito o cadastro entre em contato com nosso atendimento o mais rápido o possível, pelo
  <strong><em>suporte@lucrandocomcredito.com.br</em></strong>
</p>
