<h1>Olá, {{name}}</h1>
<p>Verificamos em nossa plataforma que você solicitou uma recuperação de senha.</p>
<p>Para prosseguir, click no link abaixo para reconfigurar a sua senha.</p>

<a href="{{link}}">Recuperar Senha</a>
