<h1>Olá, {{name}}. Seja muito bem-vindo a Lucrando com Crédito!</h1>

<p>Uma mudança significativa vem acontecendo no mercado de crédito a partir do Open Banking e você topou surfar essa
  onda conosco. Para sairmos na frente, nossa plataforma, que vem sendo desenvolvida minuciosamente pelo time da LCC,
  irá entrar em fase de testes. </p>

<p>Como forma de tornar o teste mais real, te convidamos a testar nossa plataforma durante uma semana fazendo operações
  de Crédito Imobiliário e Crédito Veicular ao invés de entrar em contato por telefone ou WhatsApp. </p>

<p>Para isso, só pedimos que você nos passe todas as dificuldades, ideias de como melhorar ainda mais a experiência e
  feedbacks constantes. </p>

<p>
  Instruções iniciais
</p>

<ol>
  <li>
    Clique aqui e assista o vídeo para conhecer melhor cada detalhe da plataforma e sua funcionalidade;
  </li>
  <li>
    Caso surja qualquer dúvida estaremos disponíveis para atendê-los por ligação de vídeo ou WhatsApp;
  </li>
  <li>
    Pedimos que relate qualquer dificuldade ou erro no sistema por meio do WhatsApp ou pelo chat de suporte dentro da
    plataforma;
  </li>
  <li>
    Para começar basta acessar o seguinte link:
  </li>
</ol>


<a href="{{link}}">Acessar</a>

<p>
  * Esse link tem validade de 48h para criação da sua conta na nossa plataforma. Se o seu link expirar você deve
  solicitar outro enviando um e-mail para plataforma@lucrandocomcredito.com.br
</p>

<p>
  E-mail: contato@lucrandocomcredito.com.br
</p>
<p>
  Whatsapp: (84) 98833-0908
</p>
