<h1>Olá, {{name}}</h1>
<p>Verificamos em nossa plataforma que você solicitou uma recuperação de senha.</p>
<p>Para prosseguir, click no link abaixo para reconfigurar a sua senha.</p>

<p>Seja muito bem-vindo a plataforma Lucrando com Crédito!!</p>

<p>Uma mudança significativa vem acontecendo no mercado de crédito a partir do Open Banking e você topou surfar essa
  onda conosco. Para sairmos na frente, nossa plataforma, que vem sendo desenvolvida minuciosamente pelo time da LCC,
  irá entrar em fase de testes. </p>

<p>Você foi escolhido para ter a oportunidade de ser um dos primeiros usuários da plataforma na nossa semana de teste
  beta. </p>

<p>Para isso vou lhe explicar como iria funcionar e só pedimos uma coisa muito simples em troca. Que você passe para nós
  todos os feedbacks, possíveis erros e melhorias que virem na plataforma. E use a plataforma para fazer as operações
  conosco de crédito imobiliário e veicular em vez de entrar em contato com nosso setor de crédito por WhatsApp ou
  telefone.</p>

<p>
  Inicialmente te daremos algumas orientações bem simples:
</p>

<ol>
  <li>
    Clique aqui e assista o vídeo para conhecer melhor cada detalhe da plataforma e sua funcionalidade;
  </li>
  <li>
    Caso surja qualquer dúvida estaremos disponíveis para atendê-los por ligação de vídeo ou WhattsApp -> Lauro (84)
    98833-0908;
  </li>
  <li>
    Pedimos que relate qualquer dificuldade ou erro no sistema por meio do WhatsApp ou pelo chat de suporte dentro da
    plataforma;
  </li>
  <li>
    Para começar basta acessar o seguinte link:
  </li>
</ol>


<a href="{{link}}">Acessar</a>

<p>
  Esse link tem validade de 48h para criação da sua conta na nossa plataforma. Se o seu link expirar você deve solicitar
  outro enviando um e-mail para plataforma@lucrandocomcredito.com.br
</p>

<p>
  E-mail: contato@lucrandocomcredito.com.br
</p>
<p>
  Whatsapp: (84) 98833-0908
</p>
